<h1 class=" text-center mt-3 mb-2"> JUEGO - {{game.name}}</h1>

<div class="row no-gutters bg-light position-relative">
    <div class="w-100">
        <!-- style="height:75vh" -->
        <img src="https://www.licenseglobal.com/sites/licenseglobal.com/files/styles/article_featured_retina/public/rocketleague.png?itok=Qm7RmvNW" class="w-100" alt="...">
    </div>
    <div class="col-md-12 position-static p-4 pl-md-0">
        <h5 class="mt-0">Descripcion</h5>
        <p>{{game.description}}</p>
    </div>
</div>