/* You can add global styles to this file, and also import other style files */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.recuadro {
    background-color: rgb(230, 229, 229);
    width: 100%;
    min-height: 50vh;
    padding: 1rem;
}

.group-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cabezera {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    align-content: center;
}
